@import '../../global.scss';

#calendar {
    position: absolute;
    width: 334px;
    height: 422px; /* 372 */
    padding-top: 60px;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 0 0 $radius $radius;
    z-index: -10;

    #content {
        margin: 0 9px 9px 9px;

        #month-year-week-container {
            height: 76px;
            border: $border;

            #month-year-container {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 44px;
                background-color: $color-gray-900;
                color: $color-gray-200;

                #btn-previous-year,
                #btn-previous-month,
                #btn-next-year,
                #btn-next-month {
                    height: 44px;
                    width: 33px; /* 33px */
                    background-color: $color-gray-900;
                    border: none;
                    cursor: pointer;
                }

                
                #btn-previous-year::before,
                #btn-previous-year::after,
                #btn-next-year::before,
                #btn-next-year::after,
                #btn-previous-month::before,
                #btn-next-month::before {
                    content: '';
                    position: absolute;
                    border-color: $color-gray-100;
                    border-style: solid;
                    border-width: 0 0.13em 0.13em 0;
                    height: 0.7em;
                    width: 0.7em;
                    transform: rotate(135deg);
                }

                #btn-previous-year:hover::before,
                #btn-previous-year:hover::after,
                #btn-next-year:hover::before,
                #btn-next-year:hover::after,
                #btn-previous-month:hover::before,
                #btn-next-month:hover::before {
                    border-color: $color-black;
                    // border-width: 0 0.15em 0.15em 0;
                }

                #btn-previous-year::before {
                    top: 79px;
                    left: 33px;
                }

                #btn-previous-year::after {
                    top: 79px;
                    left: 39px;

                }

                #btn-next-year::before {
                    top: 79px;
                    left: 287px;
                    transform: rotate(-45deg);
                }

                #btn-next-year::after {
                    top: 79px;
                    left: 293px;
                    transform: rotate(-45deg);
                }

                #btn-previous-month::before {
                    top: 79px;
                    left: 92px;
                }

                #btn-next-month::before {
                    top: 79px;
                    left: 236px;
                    transform: rotate(-45deg);
                }
            }

            #week-container {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 32px;
                width: 312px;

                .week {
                    width: 45px;
                    text-align: center;
                    font-size: 14px;
                    color: $color-gray-400;
                }
            }
        }

        #days-container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            height: 275px;
            width: 315px;
        }
    }
}

.open {
    transform: translateY(-60px);
    transition: transform 0.3s;
}

.closed {
    transform: translateY(-100%);
    transition: transform 0.3s;
}
