@import '../global.scss';

#page-content-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    margin-top: 15dvh;

    h1 {
        font-size: 28px;
    }

    textarea {
        width: 500px;
        min-height: calc(85dvh - 68px); /* 200px */
        // max-height: 70vh;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        resize: none;
        background-color: $color-white;
        border: none;
        outline: 1px solid $color-gray-500;
    }

    textarea:hover {
        outline: 1px solid $color-blue-300;
    }

    textarea:focus {
        background-color: $color-white;
        outline: 2px solid $color-blue-300;
    }
}

@media (max-width: 520px) {
    #page-content-container {
        textarea {
            width: calc(100vw - 20px);
            // max-height: 55vh;
        }
    }
}