@import '../global.scss';

section {
    position: fixed;
    max-width: 100vw;
    margin-left: 25px;
    z-index: 10;

    #wrapper-date-picker {
        position: relative;
        width: 334px;
    }

    #btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 334px;
        background-color: $color-white;
        border-radius: 0 0 $radius $radius;
        // padding: 0 10px;

        #btn-selected-day {
            height: 60px; /* 36 */
            width: 220px;
            border: none;
            // border-radius: 1em;
            background-color: $color-white;
            color: $color-gray-100;
            font-size: 18px;
            font-weight: 500;
        }
        #btn-selected-day:hover {
            cursor: pointer;
            background-color: $color-blue-600;
        }

        #btn-previous-day,
        #btn-next-day {
            position: relative;
            height: 60px; /* 36 */
            width: 57px; /* 36 */
            // padding: 0.3em 0.5em 0.4em 1.5em;
            border-radius: 0 0 0 10px;
            border: none;
            background-color: $color-white;
        }

        #btn-previous-day {
            border-radius: 0 0 0 10px;
        }

        #btn-next-day {
            border-radius: 0 0 10px 0px;
        }

        #btn-previous-day:hover,
        #btn-next-day:hover {
            background-color: $color-blue-600;
            cursor: pointer;
        }
        #btn-previous-day::before,
        #btn-next-day::before {
            content: '';
            position: absolute;
            border-color: $color-gray-100;
            border-style: solid;
            border-width: 0 0.18em 0.18em 0;
            height: 0.8em;
            width: 0.8em;
            transform: rotate(135deg);
        }
        #btn-previous-day::before {
            left: 25px;
            top: 24px;
        }
        #btn-next-day::before {
            left: 21px;
            top: 24px;
            transform: rotate(-45deg);
        }
    }
}


@media (max-width: 700px) {
    section {
        margin-left: 0;
    }
}